* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px 0 10px 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 307px;
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 2em;
    padding: 3em 4.5em 3em 3em;
}

.card:nth-of-type(1) {
    background-color: hsl(31, 77%, 52%);
    border-radius: 7px 0 0 7px;
}

.card:nth-of-type(2) {
    background-color: hsl(184, 100%, 22%)
}

.card:nth-of-type(3) {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 7px 7px 0;
}

.card img {
    width: 70px;
    height: auto;
}

.car-type {
    font-family: "Big Shoulders Display", sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
    text-transform: uppercase;
}

.info {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 3em;
    color: hsla(0, 0%, 100%, 0.75);
}

.card a {
    font-family: "Lexend Deca", sans-serif;
    text-decoration: none;
    background-color: hsl(0, 0%, 95%);
    font-size: 15px;
    font-weight: 400;
    border: 2px solid hsl(0, 0%, 95%);
    text-align: center;
    width: 80%;
    padding: 0.8em 1.8em;
    border-radius: 50px;
    transition: 300ms;
}

.card:nth-of-type(1) a {
    color: hsl(31, 77%, 52%);
}

.card:nth-of-type(2) a {
    color: hsl(184, 100%, 22%);
}

.card:nth-of-type(3) a {
    color: hsl(179, 100%, 13%);
}

.card a:hover {
    color: hsl(0, 0%, 95%);
    background: none;
}


@media (max-width: 1000px) {
    main {
        flex-direction: column;
        margin: 1em 0;
    }

    .card:nth-of-type(1) {
        background-color: hsl(31, 77%, 52%);
        border-radius: 7px 7px 0 0;
    }

    .card:nth-of-type(3) {
        background-color: hsl(179, 100%, 13%);
        border-radius: 0 0 7px 7px;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}