* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(0, 0%, 8%);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 2% 0;
}

main * {
    color: white;
    list-style: none;
    text-decoration: none;
    font-family: roboto, sans-serif;
    padding: 10px 0;

}

.card * {
    text-align: center;
    padding: 0;
    margin: 0;
}

.card {
    background-color: hsl(0, 0%, 12%);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 288px;
    height: 500px;
    max-width: 288px;
    min-width: 288px;
    flex-shrink: 1;
    padding: 2em;

    padding-top: 4em;

    border-radius: 15px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3em;
}

.name {
    font-size: 28px;
    font-weight: bold;
}

.address {
    font-size: 18px;
    font-weight: bold;
    color: hsl(75, 94%, 57%);
    padding-bottom: 2em;
}

.intro {
    font-size: 18px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 90%;
    height: 55%;
}

.links a {
    background-color: hsl(0, 0%, 20%);
    height: 2em;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3em 0;
    border-radius: 10px;
    transition: 500ms;
}

.links a:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}